{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('modify_entry') }}" method=post class=add-entry>
      <dl>
        <dt>Field Name:
        <dd><input type=text size=30 name=test_field value= "{{testfield}}">
        <dt>Field Description:
        <dd><input type=text size=50 name=field_desc value= "{{desc}}">
<!--        <dd><textarea name=field_desc value= "{{desc}}" rows=5 cols=40></textarea> -->
        <dd><input type=submit value=Submit>
      </dl>
    </form>
  {% endif %}
{% endblock %}
