{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <dl>
        <dt>Field Name:
        <dd><input type=text size=30 name=test_field>
        <dt>Field Description:
        <dd><textarea name=field_desc rows=5 cols=40></textarea>
        <dd><input type=submit value=Submit>
      </dl>
    </form>
<!-- test for delete -->
    <form action="{{ url_for('delete_entry') }}" method=post>
        <input type="hidden" name="_method" value="DELETE" />
        <input type="submit" value="Delete entry" />
    </form>
<!-- test for find -->
    <form action="{{ url_for('find_entry') }}"  method=post>
        <dt>Find Field Name:
        <dd><input type=text size=30 name="xfield">
        <input type="submit" value="Find entry" >
    </form>

  {% endif %}
  <ul class=entries>
  {% for entry in entries %}
    <li><h2>{{ entry.test_field }}</h2>{{ entry.field_desc|safe }}
  {% else %}
    <li><em>No entries in the table so far</em>
  {% endfor %}
  </ul>
{% endblock %}
